<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948945469487-284t9ho2vrft97l09rqaqsrmfpkbc7fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948945469487-284t9ho2vrft97l09rqaqsrmfpkbc7fd</string>
	<key>API_KEY</key>
	<string>AIzaSyCmGYTMpdvtR3LODW2Otv-DWkJG_z76hBg</string>
	<key>GCM_SENDER_ID</key>
	<string>948945469487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pillminder.PillMinder</string>
	<key>PROJECT_ID</key>
	<string>pillminder-b7e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>pillminder-b7e4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948945469487:ios:6d802dd13806e41d7446da</string>
</dict>
</plist>