<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.948945469487-284t9ho2vrft97l09rqaqsrmfpkbc7fd</string>
			</array>
		</dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>None</string>
            <key>CFBundleURLName</key>
            <string>com.pillminder.PillMinder</string> <!-- app’s bundle ID -->
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.pillminder.PillMinder</string>
            </array>
        </dict>
	</array>
	<key>GIDClientID</key>
	<string>948945469487-284t9ho2vrft97l09rqaqsrmfpkbc7fd.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Avenir Black.ttf</string>
		<string>Avenir Book.ttf</string>
		<string>Avenir Heavy.ttf</string>
		<string>Avenir Light.ttf</string>
		<string>Avenir Regular.ttf</string>
	</array>
</dict>
</plist>
